In [1]:
import numpy as np
import h5py
import pandas as pd
from glob import glob

import matplotlib.pyplot as plt 
import seaborn as sns 

plt.rcParams["figure.figsize"] = [16,9]
sns.set_style('whitegrid')

In [30]:
df_dr3_all = pd.read_csv("/data/praveen/results/dr3_full.csv")

In [32]:
df_data_only = df_dr3_all.drop(["sobject_id"],1)

/tmp/ipykernel_29028/3620380415.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_data_only = df_dr3_all.drop(["sobject_id"],1)

In [4]:
df_data_only.head()

,0,1,2,3,4,5,6,7,8,9,...,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [33]:
df_data_only.isnull().values.any()

False

In [5]:
df_dr3_predicted_inverted = pd.read_csv("/data/praveen/results/dr3_full_predicted_inverted.csv")

In [6]:
df_dr3_predicted_inverted.head()

,0,1,2,3,4,5,6,7,8,9,...,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458
0,0.000706,-0.000770,-0.000356,0.000360,-0.000050,-0.000876,0.000122,0.000082,-0.000170,-0.000392,...,0.000756,0.000128,0.000213,0.000091,0.000872,0.000331,0.000736,-0.000809,0.000770,-0.000937
1,0.000710,-0.000219,-0.000747,0.000530,0.000823,-0.000009,0.000586,0.000549,-0.000094,-0.000656,...,0.000082,-0.000362,-0.000344,-0.000076,0.000664,-0.000703,0.000716,-0.000406,0.000122,0.000206
2,0.000971,-0.000251,-0.000652,0.000780,0.000541,-0.000482,0.000262,0.000376,0.000391,-0.000594,...,0.000400,-0.000088,0.000155,0.000066,0.000700,-0.000617,0.000331,-0.000779,0.000429,-0.000243
3,0.001088,-0.000359,-0.000646,0.000193,0.000507,-0.000113,0.000173,0.000856,0.000919,-0.000589,...,0.000086,-0.000373,-0.000424,0.000150,0.000460,-0.000289,0.000019,-0.000651,0.000062,-0.000111
4,0.000690,-0.000478,-0.000466,0.000209,0.000357,-0.000235,0.000467,0.000570,0.000634,-0.000537,...,0.000138,-0.000177,-0.000386,0.000305,0.000235,-0.000514,0.000277,-0.000678,0.000737,-0.000651

In [7]:
df_predicted_only = 1 - df_dr3_predicted_inverted

In [9]:
df_predicted_only.head()

,0,1,2,3,4,5,6,7,8,9,...,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458
0,0.999294,1.000770,1.000356,0.999640,1.000050,1.000876,0.999878,0.999918,1.000170,1.000392,...,0.999244,0.999872,0.999787,0.999909,0.999128,0.999669,0.999264,1.000809,0.999230,1.000937
1,0.999290,1.000219,1.000747,0.999470,0.999177,1.000009,0.999414,0.999451,1.000094,1.000656,...,0.999918,1.000362,1.000344,1.000076,0.999336,1.000703,0.999284,1.000406,0.999878,0.999794
2,0.999029,1.000251,1.000652,0.999220,0.999459,1.000482,0.999738,0.999624,0.999609,1.000594,...,0.999600,1.000088,0.999845,0.999934,0.999300,1.000617,0.999669,1.000779,0.999571,1.000243
3,0.998912,1.000359,1.000646,0.999807,0.999493,1.000113,0.999827,0.999144,0.999081,1.000589,...,0.999914,1.000373,1.000424,0.999850,0.999540,1.000289,0.999981,1.000651,0.999938,1.000111
4,0.999310,1.000478,1.000466,0.999791,0.999643,1.000235,0.999533,0.999430,0.999366,1.000537,...,0.999862,1.000177,1.000386,0.999695,0.999765,1.000514,0.999723,1.000678,0.999263,1.000651

In [22]:
df_predicted_only.isnull().values.any()

False

In [23]:
df_predicted_only.iloc[1:,]

,0,1,2,3,4,5,6,7,8,9,...,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458
1,0.999290,1.000219,1.000747,0.999470,0.999177,1.000009,0.999414,0.999451,1.000094,1.000656,...,0.999918,1.000362,1.000344,1.000076,0.999336,1.000703,0.999284,1.000406,0.999878,0.999794
2,0.999029,1.000251,1.000652,0.999220,0.999459,1.000482,0.999738,0.999624,0.999609,1.000594,...,0.999600,1.000088,0.999845,0.999934,0.999300,1.000617,0.999669,1.000779,0.999571,1.000243
3,0.998912,1.000359,1.000646,0.999807,0.999493,1.000113,0.999827,0.999144,0.999081,1.000589,...,0.999914,1.000373,1.000424,0.999850,0.999540,1.000289,0.999981,1.000651,0.999938,1.000111
4,0.999310,1.000478,1.000466,0.999791,0.999643,1.000235,0.999533,0.999430,0.999366,1.000537,...,0.999862,1.000177,1.000386,0.999695,0.999765,1.000514,0.999723,1.000678,0.999263,1.000651
5,0.999633,1.000310,1.000767,0.999253,0.999568,1.000303,0.999753,0.999272,0.999693,1.000242,...,0.999827,1.000212,1.000609,1.000043,0.999638,0.999994,0.999411,1.000116,0.999847,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588339,0.999152,1.000598,1.000456,0.999672,0.999608,1.000091,0.999445,0.999339,0.999344,1.000484,...,0.999578,1.000222,1.000339,0.999877,0.999652,1.000449,0.999370,1.000797,0.999451,1.000580
588340,0.999026,1.000489,1.000553,0.999825,0.999844,1.000421,0.999455,0.999462,0.999108,1.000460,...,0.999906,1.000446,1.000632,0.999514,0.999390,1.000359,0.999143,1.000693,0.999305,1.000289
588341,0.999203,1.000540,1.000399,0.999533,0.999599,1.000118,0.999515,0.999648,0.999328,1.000682,...,0.999626,1.000279,1.000377,0.999859,0.999625,1.000331,0.999274,1.000807,0.999322,1.000448
588342,0.999296,1.000256,1.000711,0.999916,0.999486,1.000528,0.999328,0.999610,0.999316,1.000462,...,0.999594,1.000375,1.000321,0.999812,0.999656,1.000388,0.999670,1.000502,0.999380,1.000867
588343,0.999092,1.000539,1.000334,0.999716,0.999768,1.000167,0.999474,0.999635,0.999497,1.000640,...,0.999766,1.000167,1.000392,0.999742,0.999689,1.000374,0.999682,1.000639,0.999364,1.000624

In [103]:
df_difference = df_data_only - df_predicted_only

In [35]:
df_difference.head()

,0,1,2,3,4,5,6,7,8,9,...,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458
0,0.000706,-0.000770,-0.000356,0.000360,-0.000050,-0.000876,0.000122,0.000082,-0.000170,-0.000392,...,0.000756,0.000128,0.000213,0.000091,0.000872,0.000331,0.000736,-0.000809,0.000770,-0.000937
1,0.000710,-0.000219,-0.000747,0.000530,0.000823,-0.000009,0.000586,0.000549,-0.000094,-0.000656,...,0.000082,-0.000362,-0.000344,-0.000076,0.000664,-0.000703,0.000716,-0.000406,0.000122,0.000206
2,0.000971,-0.000251,-0.000652,0.000780,0.000541,-0.000482,0.000262,0.000376,0.000391,-0.000594,...,0.000400,-0.000088,0.000155,0.000066,0.000700,-0.000617,0.000331,-0.000779,0.000429,-0.000243
3,0.001088,-0.000359,-0.000646,0.000193,0.000507,-0.000113,0.000173,0.000856,0.000919,-0.000589,...,0.000086,-0.000373,-0.000424,0.000150,0.000460,-0.000289,0.000019,-0.000651,0.000062,-0.000111
4,0.000690,-0.000478,-0.000466,0.000209,0.000357,-0.000235,0.000467,0.000570,0.000634,-0.000537,...,0.000138,-0.000177,-0.000386,0.000305,0.000235,-0.000514,0.000277,-0.000678,0.000737,-0.000651

In [104]:
df_difference.isnull().values.any()

False

In [37]:
df_difference.to_csv("/data/praveen/results/dr3_difference_non_inverted.csv",index=None)

In [38]:
PLOT_MASK = range(1475,1550)  #plot mask for Halpha

In [105]:
df_difference_masked = df_difference.iloc[:,PLOT_MASK]

In [106]:
df_difference_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,-0.015900,0.003589,0.008669,0.008622,-0.000429,-0.021117,-0.040579,-0.028308,0.015220,0.027422,...,-0.005892,0.015429,0.026947,-0.001111,0.004056,0.034267,0.035902,0.011318,0.000621,0.001681
1,-0.009396,0.002664,-0.006702,-0.007585,-0.006879,-0.017319,-0.022095,-0.003070,0.002803,-0.021380,...,-0.008838,0.027961,0.020926,-0.016425,-0.022441,-0.014173,0.011951,0.030578,0.018945,-0.005351
2,0.018943,0.020332,0.018133,0.013845,0.013025,0.006393,-0.007492,-0.002126,0.010022,0.000558,...,0.002528,-0.010374,-0.016371,-0.011785,0.000666,0.010397,0.019135,0.016469,0.010646,-0.009969
3,-0.005460,0.000464,-0.012471,-0.016341,-0.032186,-0.026647,-0.002217,0.000358,-0.000074,0.005872,...,0.010512,0.013673,-0.002825,-0.004157,-0.009017,-0.010457,-0.005360,0.011323,0.017768,0.014927
4,0.008211,0.003951,0.010163,0.029963,0.031841,0.024783,0.021899,0.030012,0.039184,0.031675,...,0.048546,0.057998,0.063118,0.054874,0.045224,0.035440,0.019959,0.006348,-0.002326,0.017197

In [41]:
df_difference_masked.to_csv("/data/praveen/results/dr3_difference_non_inverted_masked.csv",index=None)

In [42]:
df_difference_masked.isnull().values.any()

False

In [107]:
df_difference_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549
0,-0.015900,0.003589,0.008669,0.008622,-0.000429,-0.021117,-0.040579,-0.028308,0.015220,0.027422,...,-0.005892,0.015429,0.026947,-0.001111,0.004056,0.034267,0.035902,0.011318,0.000621,0.001681
1,-0.009396,0.002664,-0.006702,-0.007585,-0.006879,-0.017319,-0.022095,-0.003070,0.002803,-0.021380,...,-0.008838,0.027961,0.020926,-0.016425,-0.022441,-0.014173,0.011951,0.030578,0.018945,-0.005351
2,0.018943,0.020332,0.018133,0.013845,0.013025,0.006393,-0.007492,-0.002126,0.010022,0.000558,...,0.002528,-0.010374,-0.016371,-0.011785,0.000666,0.010397,0.019135,0.016469,0.010646,-0.009969
3,-0.005460,0.000464,-0.012471,-0.016341,-0.032186,-0.026647,-0.002217,0.000358,-0.000074,0.005872,...,0.010512,0.013673,-0.002825,-0.004157,-0.009017,-0.010457,-0.005360,0.011323,0.017768,0.014927
4,0.008211,0.003951,0.010163,0.029963,0.031841,0.024783,0.021899,0.030012,0.039184,0.031675,...,0.048546,0.057998,0.063118,0.054874,0.045224,0.035440,0.019959,0.006348,-0.002326,0.017197

In [44]:
from specutils import Spectrum1D
from specutils import SpectralRegion
from specutils.analysis import equivalent_width
from specutils.analysis import fwhm

In [48]:
import h5py
hf_grid = h5py.File("/data/praveen/wl_grid.h5","r")
wl_grid = np.array(hf_grid["wl_grid"])

In [49]:
grid = wl_grid[PLOT_MASK]

In [108]:
df_difference_masked["EW"] = df_difference_masked.apply(lambda row : equivalent_width(Spectrum1D(spectral_axis=grid*u.AA,flux=row.to_numpy()*u.Unit('erg cm-2 s-1 AA-1'))).value, axis=1)

/tmp/ipykernel_29028/2888137279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_difference_masked["EW"] = df_difference_masked.apply(lambda row : equivalent_width(Spectrum1D(spectral_axis=grid*u.AA,flux=row.to_numpy()*u.Unit('erg cm-2 s-1 AA-1'))).value, axis=1)

In [109]:
df_difference_masked.head()

,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,EW
0,-0.015900,0.003589,0.008669,0.008622,-0.000429,-0.021117,-0.040579,-0.028308,0.015220,0.027422,...,0.015429,0.026947,-0.001111,0.004056,0.034267,0.035902,0.011318,0.000621,0.001681,4.522394
1,-0.009396,0.002664,-0.006702,-0.007585,-0.006879,-0.017319,-0.022095,-0.003070,0.002803,-0.021380,...,0.027961,0.020926,-0.016425,-0.022441,-0.014173,0.011951,0.030578,0.018945,-0.005351,4.468872
2,0.018943,0.020332,0.018133,0.013845,0.013025,0.006393,-0.007492,-0.002126,0.010022,0.000558,...,-0.010374,-0.016371,-0.011785,0.000666,0.010397,0.019135,0.016469,0.010646,-0.009969,4.517386
3,-0.005460,0.000464,-0.012471,-0.016341,-0.032186,-0.026647,-0.002217,0.000358,-0.000074,0.005872,...,0.013673,-0.002825,-0.004157,-0.009017,-0.010457,-0.005360,0.011323,0.017768,0.014927,4.493607
4,0.008211,0.003951,0.010163,0.029963,0.031841,0.024783,0.021899,0.030012,0.039184,0.031675,...,0.057998,0.063118,0.054874,0.045224,0.035440,0.019959,0.006348,-0.002326,0.017197,4.356204

In [110]:
df_difference_masked["EW"].dtype

dtype('float64')

In [111]:
df_difference_masked.to_csv("/data/praveen/results/dr3_difference_non_inverted_masked_ew.csv",index=None)